<%- include('../includes/head.ejs')  %>
</head>

<body>
    <%- include('../includes/main-header.ejs')  %>
    <main class="__main">
        <h1>Cart DUMMY</h1>
    </main>

<% include('../includes/end.ejs') %>