<%- include('includes/head.ejs')  %>
</head>

<body>
    <%- include('includes/main-header.ejs')  %>
    
    <main class="__main">
        <center>
            <h1>404 Page not found</h1>
        </center>
    </main>

<%- include('includes/end.ejs')  %>

 