doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/main.css')
  link(rel='stylesheet' href='/css/products.css')
  title Shop
header.__header
  nav.__header__nav
    ul.__header__ul
      li.__header__li
        a.__header__link(href='/') Shop
      li.__header__li
        a.__header__link(href='/admin/add-product') Add Product
main.__main
  h1 List of products...
  .__list
    .__list__item
