doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/main.css')
  link(rel='stylesheet' href='/css/products.css')
  title Shop
header.__header
  nav.__header__nav
    ul.__header__ul
      li.__header__li
        a.__header__link(href='/') Shop
      li.__header__li
        a.__header__link(href='/admin/add-product') Add Product
main.__main
  h1 List of products...
  .__grid
    each product in prods 
      .__prod 
          img.__prod__img(src="https://images.tcdn.com.br/img/img_prod/1285766/sketchbook_daler_rowney_simply_pocket_100g_8_9x14cm_72_folhas_105_2_ff6475b55009ebbd66bf26049b604bf4.jpg", alt="Product Image")
          .__prod__info 
              .__prod__title #{product.title}
              .__prod__price 
                  span R$
                  .__price 19,99
          .__prod__description This is a blank sketchbook
          button.__add Add to cart
    //- .__prod 
    //-     img.__prod__img(src="https://www.edisons.com.au/media/catalog/product/0/0/00_clean_12.jpg?optimize=medium&fit=bounds&height=1024&width=1024&canvas=1024:1024", alt="Product Image")
    //-     .__prod__info 
    //-         .__prod__title Lawnmower
    //-         .__prod__price 
    //-             span R$
    //-             .__price 19,99
    //-     .__prod__description This is a red lawnmower.
    //-     button.__add Add to cart