<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/users.css">
    <title>Document</title>
</head>
<body>
    <h1>
        List of singned users:
    </h1>
    <ul>
        <% for (user of signedUsers) { %>
            <p>
                <%= user.first_name %> <%= user.last_name %>
            </p>
        <% } %>
    </ul>
    <a href="/">
        <button>
            Return
        </button>
    </a>
</body>
</html>