h1{
    color: var(--clr-pal6);
    padding: 2rem;
}

.__grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    padding: 1rem 0;
}

.__prod{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 1px solid var(--clr-pal5);
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 1rem;
    height: 30rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.__prod__img{
    width: 100%;
    height: 15rem;
    background-position: center;
    background-size: cover;
}

.__prod__info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.__prod__title{
    color: var(--clr-pal5);
    font-size: 1.5rem;
    font-weight: 700;
}

.__prod__price{
    display: flex;
    align-items: center;
    height: fit-content;
}

.__prod__price
span{
    font-size: 1rem;
    color: var(--clr-pal5);
    align-self:self-end;
}

.__price{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--clr-pal5);
}

.__prod__description{
    padding: 1rem 0;
    color: var(--clr-pal5);
    font-weight: 500;
    font-size: 1.2rem;
    line-clamp: 4;
}

.__add{
    width: fit-content;
    background-color: white;
    font-size: 1rem;
    border: 1px solid var(--clr-pal6);
    border-radius: 0.4rem;
    padding: 0.3rem 1rem;
    transition: all 0.3s ease;
    color: var(--clr-pal6);
    align-self: center;
}

.__add:hover{
   background-color: var(--clr-pal6);
   color: white;
   cursor: pointer;
}

