<header class="__header">
    <nav class="__header__nav">
        <ul class="__header__ul">
            <li class="__header__li">
                <a href="/" class="<%= path === '/' ? 'active' : '' %>">Shop</a>
            </li>
            <li class="__header__li">
                <a href="/admin/add-product" class="<%= path === '/admin/add-product' ? 'active' : '' %>">Add Product</a>
            </li>
        </ul>
    </nav>
</header>